.logo-img
{
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}
.logo-img >img
{
  width: 100px;
  height: 100px;
}
.logo-img > ul
{
  display: flex;
 
}
ul >li{
  margin: 10px;
  list-style-type: none;
}
.rescard-main
{
  display: flex;
  border: 2px solid black;
  width: 320px;
  height: 370px;
}
.rescard-main > div >img
{
  width: 100%;
  height: 220px;
}

.rescard-main > div
{
  margin: 4px
}
